* {
  /* background-color: steelblue; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  color: black;
  border-style:groove;
  background-color:lightgrey;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.time-converter, .stopwatch {
  margin-bottom: 2rem;
}

input[type="number"] {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

#result {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#stopwatch-display {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#start-button, #stop-button, #reset-button {
  margin-right: 1rem;
}
